window-theme = system
font-size = 18
font-style = medium
bold-is-bright = true
theme = catppuccin-mocha
font-family = "Cascadia Code NF"
font-feature = -calt
cursor-style = block
cursor-style-blink = false
copy-on-select = clipboard
clipboard-trim-trailing-spaces = true
mouse-scroll-multiplier = 2
mouse-hide-while-typing = true
initial-window = true
resize-overlay = never
background-opacity = 0.85
window-save-state = always
window-step-resize = false
background-blur-radius = 15
window-padding-balance = true
confirm-close-surface = false
auto-update = check
auto-update-channel = stable
quit-after-last-window-closed = true
shell-integration-features = true

# macos
macos-option-as-alt = true
macos-titlebar-style = transparent

